<div class="jumbotron">
    <h1>Student Crud</h1>
    <p class="lead"> To login, Please Click Login From Navbar or &nbsp; <a href="~/Login/Login" class="btn btn-primary btn-large">Click Here &raquo;</a></p>
    <p>OR</p>
    <p class="lead"> To Register, Please &nbsp; <a href="~/Login/Register" class="btn btn-primary btn-large">Click Here &raquo;</a></p>
</div>

